/* Colour palette */

/* Body background gradient */
$darkest-blue: #02050E;
$middle-blue: #071330;
$lightest-blue: #0E2763;

/* Typography */
$burgundy: #6B0017; // Headings h1
$brown-grey: #4B443C; // Headings h3
$off-white: #D0D0D0; // Background table cells
$mustard-brown: #634A0E; // Table headings th

/* Box shadows */
$deep-black: rgba(0, 0, 0, 0.8);
$lighter-black: rgba(0, 0, 0, 0.5);

